    <% include header.ejs %>

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Tourney</h1>
        <p>Tourney is a web app for running your sports or games tournament</p>
        <p><a href="user/create" class="btn btn-primary btn-large">Register</a></p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>Events</h2>
           <p>Create an event and track user registrations</p>
        </div>
        <div class="span4">
          <h2>Teams</h2>
           <p>Build teams and enter them in competitions</p>
       </div>
        <div class="span4">
          <h2>Schedules</h2>
          <p>Build schedules for your tournaments and track games</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    <% include footer.ejs %>
