<% include ../header.ejs %>
<h1>Create a tournament</h1>
<form method="POST">
  <div>
    <label for="name">Tournament Name</label>
    <input id="name" type="text" name="name" />
  </div>
  <div>
    <label for="sport">Sport</label>
    <input id="sport" type="text" name="sport" />
  </div>
  <div>
    <label for="start_date">Start Date</label> 
    <input type="text" name="start_date" id="start_date" />
  </div>
  <div>
    <label for="end_date">End Date</label>
    <input type="text" name="end_date" id="end_date" />
  </div>
  <div>
    <label for="tags">Tags</label>
    <input type="text" name="tags" id="tags" />
  </div>
  <input type="submit" value="Create" />
</form>
<% include ../footer.ejs %>