<% include ../header.ejs %>

    <div class="row">
		<div class="span12">
			<h1>All tournaments</h1>
		</div>
		<div class="span12">
			<a href="/tournament/create">Create a tournament</a>
		</div>
	</div>
    
    <% if (typeof tournaments == 'undefined') { %>
	<div class="row shift-down">
		<div class="span12">
			<div class="alert alert-warning"><strong>There are no tournaments in the database!</strong></div>	
		</div>
	</div>
		
    <% } else { %>
    
    <table class="table table-striped">
		<thead>
			<tr>
				<th>Tournament</th>
				<th>Start Date</th>
			</tr>
		</thead>
		<tbody>
			<% for (var i = 0; i < tournaments.length; i++) { %>
			<tr>
				<% var tournament = tournaments[i] %>
				<td><%= tournaments.name %></td>
				<td><%= tournaments.dateStarted %></td>
			</tr>
			<% } %>
		</tbody>
	</table>
	
	<% } %>
<% include ../footer.ejs %>

