<% include ../header.ejs %>
	
	<div class="row">
		<div class="span12">
			<h1>Tournament Details</h1>
		</div>
	</div>
	
	<% if (tournament === null ) { %>
	
	<div class="row shift-down">
		<div class="span12">
			<div class="alert alert-error">Unable to find tournament</div>
		</div>
	</div>
	
	<% } else { %>
	
    <h3><%= tournament.name %></h3>
    <p>Welcome to <%= tournament.name %></p>
    
    <% } %>
    
<% include ../footer.ejs %>
