<!DOCTYPE html>
<html>
  <head>
    <title><%= tournament.name %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>View <%= tournament.name %></h1>
    <p>Welcome to <%= tournament.name %></p>
  </body>
</html>
