<% include ../header.ejs %>
    <h1>Lists all users</h1>
    <% for (var i = 0; i < users.length; i++) {
        var user = users[i] %>
        <p><%= user.username %></p>
    <% } %>
<% include ../footer.ejs %>
