<% include ../header.ejs %>
	
	<div class="row">
		<div class="span12">
			<h1>Player Details</h1>
		</div>
	</div>
	
	<% if (user === null) { %>
	
		<div class="row shift-down">
			<div class="span12">
				<div class="alert alert-error">Unable to find player</div>
			</div>
		</div>

	<% } else { %>

	    <h3><%= user.username %></h3>
	    <p>Welcome to <%= user.username %></p>

	    <h4>Teams</h4>
	    <% if (user.teams.length > 0) { %>
		    <ul>
		    	<% for (i = 0; i < user.teams.length; i++) { %>
		    		<% var team = user.teams[i] %>
		    		<li><%= team.name %></li>
		    	<% } %>
		    </ul>
	    <% } else { %>
	    	<p>You have no teams, loser. I bet you were picked last in sports lessons.</p>
	    <% } %>

    <% } %>
<% include ../footer.ejs %>
